<!-- purchase-dashboard.component.html -->
<div class="dashboard-container">
  <!-- Header Section -->
  <div class="d-flex flex-column">
    <div class="dashboard-header">
      <div class="view-selector">
        <div class="view-options">
          <h2>All Customer</h2>
        </div>
      </div>
      <button
        class="btn create-btn"
        [routerLink]="'/master/sales/customers/create'"
      >
        <i class="bi bi-plus-lg"></i> Create New Customer
      </button>
    </div>

    <div class="search-container d-flex align-items-center gap-3">
      <div class="search-input-container position-relative flex-grow-1">
        <i class="bi bi-search position-absolute"></i>
        <input
          type="text"
          placeholder="Search invoices..."
          class="search-input w-100 ps-5"
        />
      </div>

      <div class="filter-container">
        <div class="select-wrapper">
          <select class="filter-select" aria-label="select">
            <option value="">All Statuses</option>
            <option value="Paid">Paid</option>
            <option value="Pending">Pending</option>
            <option value="Overdue">Overdue</option>
          </select>
          <i class="bi bi-chevron-down dropdown-icon"></i>
        </div>
      </div>

      <div class="view-options">
        <div class="results-badge">
          <span class="results-count">24</span>
          <span class="results-text">results</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Orders Table -->
  <div class="orders-table-container">
    <table class="orders-table">
      <thead>
        <tr>
          <th class="order-number">Name</th>
          <th class="ref-number">Code</th>
          <th class="date">Company Name</th>
          <th class="value">Email</th>
          <th class="status">GST Type</th>
          <th class="actions">Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let vendor of getFilteredVendors()">
          <td class="order-number">
            <div class="order-number-wrapper">
              <i class="bi bi-person"></i>
              <span class="vendor-name">{{ vendor.name }}</span>
            </div>
          </td>
          <td class="ref-number">
            <span class="vendor-number">{{ vendor.code }}</span>
          </td>
          <td class="date">
            <span class="company-name">{{ vendor.companyName }}</span>
          </td>
          <td class="value">
            <span class="email">{{ vendor.email }}</span>
          </td>
          <td class="status">
            <span class="work-phone">{{ vendor.gstType }}</span>
          </td>
          <td class="actions">
            <span class="payables">{{ vendor.status }}</span>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
