#login-page {
  // background-color: var(--color-bg);
  background-image: url("/assets/background.svg");
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg);
}

.container {
  height: fit-content;
  width: 30rem;
  display: flex;
  justify-content: center;
  border-radius: 1.2rem;
  background-color: var(--color-card);
  border: 1px solid var(--border-color);
  flex-direction: column;
  padding: 1.5rem;
  align-items: flex-start;

  @media (max-width: 768px) {
    width: 95%;
  }

  .logo-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    color: var(--color-blue);

    .logo {
      width: 7rem;
    }

    span {
      cursor: pointer;
      i {
        rotate: 180deg;
        margin-right: 0.5rem;
      }
    }
  }

  .login-content {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    color: #696969;
  }

  .copy-right-body {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: #696969;
    font-weight: 500;
  }
  form {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    .form-group {
      .input-field {
        position: relative;
        align-items: center;

        input {
          flex: 1;
          padding-left: 3rem;
          width: 100%;
          padding-block: 0.7rem;
          border: 2px solid var(--color-blue);
          border-radius: 0.6rem;
          background-color: transparent;
          color: var(--primary-text);

          &:hover,
          &:focus {
            border-color: var(--color-blue);
            outline: none;
          }
        }

        .icon-left {
          position: absolute;
          left: 1.2rem;
          top: 50%;
          transform: translateY(-50%);
          color: var(--color-blue);
        }
        .icon-right {
          position: absolute;
          right: 1.2rem;
          top: 50%;
          transform: translateY(-50%);
          color: #696969;
        }
      }
    }

    button {
      margin-top: 1.5rem;
      padding: 0.7rem;
      color: white;
      border-radius: 0.6rem;
      background-color: var(--color-blue);
      transition: all 0.3s ease-out;

      &:hover {
        background-color: var(--color-blue-active);
      }
    }
  }
}

.bord {
  border: 1px solid red !important;
}
